* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  width: 100%;
  height: 50px;
}

main {
  margin: 50px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.contents {
  width: 300px;
  margin-right: 30px;
  background-color: #eee;
  padding: 10px;
  position: relative;
}

.step {
  background-color: #ff9a4b;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}

.img,
.img2,
.img3 {
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.img {
  background-image: url(img/flow01.png);
}
.img2 {
  background-image: url(img/flow02.png);
}
.img3 {
  background-image: url(img/flow03.png);
}

.contents:last-child {
  margin-right: 0;
}
h3 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.img {
  height: 150px;
}

footer {
  background-color: #aaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .contents,
  .contents:last-child {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .contents:nth-child(2),
  .contents:last-child {
    margin-top: 20px;
  }

  .contents:last-child {
    margin-bottom: 50px;
  }

  .img {
    height: 150px;
  }

  .img2 {
    height: 150px;
  }
  .img3 {
    height: 150px;
  }
}
